* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #FFF9F2;
    color: #4A4650;
}

header {
    height: 70px;
    padding: 20px 30px;
    background-color: #F3D6E4;
}

header h1 {
    font-size: 24px;
}

main {
    display: flex;
    min-height: calc(100vh - 70px);
}

.sidebar {
    width: 220px;
    padding: 30px 20px;
    background-color: #DDD6F3;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    margin-bottom: 15px;
}

.sidebar a {
    text-decoration: none;
    color: #4A4650;
    font-weight: 500;
}

.dashboard {
    flex: 1;
    padding: 30px;
}

.dashboard h2 {
    margin-bottom: 25px;
}

.cards-resumo {
    display: flex;
    gap: 25px;
}

.card {
    flex: 1;
    padding: 25px;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(100, 80, 120, 0.08);
}

.card:nth-child(1) {
    background-color: #96e896;
}

.card:nth-child(2) {
    background-color: #D8EAD8;
}

.card:nth-child(3) {
    background-color: #fb9696;
}

.card:nth-child(4) {
    background-color: #D6EAF3;
}

.card h3 {
    margin-bottom: 12px;
    font-size: 15px;
    font-weight: 500;
}

.card p {
    font-size: 26px;
    font-weight: bold;
}

@media (max-width: 768px) {

    main {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        padding: 10px;
    }

    .sidebar ul {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }

    .sidebar li {
        margin-bottom: 0;
    }

    .sidebar a {
        padding: 8px 10px;
        font-size: 14px;
    }

    .dashboard {
        padding: 20px;
    }

    .cards-resumo {
        flex-direction: column;
        gap: 15px;
    }

}

.sidebar a {
    display: block;
    padding: 10px 12px;
    border-radius: 10px;
    transition: 0.2s;
}

.sidebar a:hover {
    background-color: #F3D6E4;
    color: #8E7CC3;
}

.sidebar a.ativo {
    background-color: #FFFFFF;
    color: #8E7CC3;
    font-weight: bold;
}
